body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: ''; */
}

#searchBox {
  padding: 10px;
  /* box-sizing: border-box; */
  border: 1px solid #ccc;
  border-radius: 9px;
  margin: 5px;
}

#matchesContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

#matchesContainer li {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
